:root{
    --text_color:rgb(143 135 135);
}

*{
   padding: 0;
   margin: 0; 
   box-sizing: border-box;
   color: white;
}
body{
    background-color:rgb(24, 23, 23);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position:sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-left: 2rem;
    padding-right: 5rem;
    background-color:#0a0a0a;
    height: 5.5rem;
}
nav .logo a{
    text-decoration: none;
    color: var(--text_color); 
}

nav .logo a:hover{
    color: var(--text_color);
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: var(--text_color);
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}

nav a:hover{
    color: white;
    transition: all .3s ease;
}

nav img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
nav .btn a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text_color);
    padding: 1.2rem;

}
nav .btn a:hover{
    color: white;
    transition: all .3s ease;
}
nav .btn button{
    border: 2px solid transparent;
    color: black;
    background-color: white;
    padding: 1rem 1.7rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: .4s;
}
nav .btn button:hover{
    transform: scale(1.09);
}

/* trending -home */

#home{
    display: grid;
    grid-gap: .5rem;
    grid-template-areas: 
    'trending trending box1'
    'trending trending box2'
    ;
    background-color: #101010;
}

.trending{
    grid-area: trending;
    min-height: 300px;
    padding: 3rem;
    display: flex;
    flex-direction:row;
    align-items: start;
    justify-content: center;
}
.trending img{
    border-radius: 1rem;
}

.trending .text{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-top: 2rem;
    padding-left:1.5rem;
}

.trending p{
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}
.trending h1{
    font-size: 4.5rem;
    padding-bottom: 2.5rem;
}

/* Focus */
.focus h2{
    padding-left:2rem ;

}

.focus .container{
    display: grid;
    grid-gap: 1.5rem;
    grid-template-areas:
    'box1 box2 box3 box4 box5'
    ;
    padding: 1.5rem;
}

.focus .heading {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.focus .heading a{
    text-decoration: none;
    color: var(--text_color);
    padding-right: 4rem;
}

.focus .heading a:hover{
    text-decoration: underline;
    color: white;
}

.focus .container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 15rem;
    background-color: #1e1e1e;
    border: 2px solid transparent;
    border-radius: .5rem;
}

.focus .container .box:hover{
    background-color: #3e3e3e;
    /* <i class="fa-solid fa-circle-play fa-2x" style="color: #1ed760;"></i> */
}

.focus .container .box img{
    border-radius: .4rem;
}

.focus .box h3{
    padding: 1rem;
    padding-bottom: .7rem;
    font-size: 1.1rem;
}

.focus .box p{
    text-align: center;
    color: var(--text_color);
}

/* footer */

footer{
    height: 7rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 1.2rem;
}

footer p{
    color: var(--text_color);
    margin-left: 3rem;
}
footer .socials{
    padding: 1rem;
}

footer i{
    margin: .2rem;
}
 .fa-instagram{
    background-color: #1e1e1e;
    border: 2px solid transparent;
    padding: .5rem;
    border-radius: 50%;
 }
 .fa-facebook{
    background-color: #1e1e1e;
    border: 2px solid transparent;
    padding: .5rem;
    border-radius: 50%;
 }
 .fa-twitter{
    background-color: #1e1e1e;
    border: 2px solid transparent;
    padding: .5rem;
    border-radius: 50%;
 }

 .fa-facebook:hover{
    background-color: #3e3e3e;
 }
 .fa-instagram:hover{
    background-color: #3e3e3e;
 }
 .fa-twitter:hover{
    background-color: #3e3e3e;
 }

 /* bottom -music updation */

 #bottom{
    background-color:#0a0a0a;
    height: 5.5rem;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #progressBar{
    width: 25rem;
    cursor: pointer;
 }

 .icons{
    margin-bottom: .2rem;
 }

 .icons i{
    cursor: pointer;
    padding: .5rem;
 }

 .songInfo{
    position: absolute;
    left: 4rem;
 }

 .songInfo img{
    height: 3.2rem;
    width: 3.2rem;
    border-radius: .2rem;
 }



